/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-black: 0 0% 3%;
    --clr-dark: 0 0% 11.8%;
    --clr-green-dark: 166 16% 15.9%;
    --clr-green-light: 168 15.4% 25.5%;
    --clr-green-lighter: 167 8.2% 43.1%;
    --clr-white: 0 0% 92.5%;
    /* --clr-lightblue: 201 46% 48.6%; */

    /* fonts-sizes */
    --fs-900: 3.25rem;
    --fs-800: 1.9rem;
    --fs-700: 1.5rem; 
    --fs-500: 1.25rem; 
    --fs-400: 1rem;
    --fs-300: .75rem;
    --fs-200: .625rem;
    --fs-100: .45rem;

    /* time-of-day icon sizes */
    --icon-size-3: 6.5rem;
    --icon-size-2: 5rem;
    --icon-size-3: 15px;


    /* font-families */
    --ff-sans: "Inter", sans-serif;
}

@media (min-width: 50rem) {
    :root {
        --fs-900: 6.5rem;
        --fs-600: 1.5rem;
        --fs-400: .75rem;
        --fs-300: .625rem;
    }
}





/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* reset font-weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-700);
    color: hsl( var( --clr-white ) );

    background-color: hsl( var(--clr-dark) );
    background-image: url(./assets/themes/lighthouse-shore.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    line-height: 1.5;

    min-height: 100vh;
    max-height: fit-content;
}

main {
    padding: 7px;
}

/* make images easier to work with */
img {
    /* max-width: 100%; */
    /* display: block; */
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}









/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* colors */

.bg-black-lighter {
    background-color: hsl( var(--clr-black) / .1 );
    backdrop-filter: blur(.8rem);
    /* -webkit-backdrop-filter: blur(.8rem);  */
}

.bg-dark { 
    background-color: hsl( var(--clr-green-dark) / .3 ); 
    backdrop-filter: blur(5px);
    /* -webkit-backdrop-filter: blur(5px); */
}

.bg-light { 
    background-color: hsl( var(--clr-green-light) / .4 );
    backdrop-filter: blur(5px);
}

.bg-lighter {
    background-color: hsl( var(--clr-green-lighter) / .4 );
    backdrop-filter: blur(15px);
    /* -webkit-backdrop-filter: blur(15px); */
}

.bg-white { background-color: hsl( var(--clr-white) ); }

.text-dark { color: hsl( var(--clr-white)  / 70% )}
.text-white { color: hsl( var(--clr-white) )}
.text-green-darker {color: hsl(var(--clr-white) / .7 )}

@supports not ( backdrop-filter: blur(15px) ) {
    .bg-black-lighter {
        -webkit-backdrop-filter: blur(15px);
    }

    .bg-dark {
        -webkit-backdrop-filter: blur(15px);
    }

    .bg-light {
        -webkit-backdrop-filter: blur(15px);
    }
    
    .bg-lighter {
        -webkit-backdrop-filter: blur(15px);
    }
}

/* typoghraphy */

p {line-height: 1.8rem;}

.ff-sans { font-family: var(--ff-sans); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}





/* ------------------- */
/* Components          */
/* ------------------- */

.small-icon {width: 15px;}

.time-of-day-icon {
    width: 5rem;
}

.weather-section-header {
    color: hsl(var(--clr-white) / .6 );
    font-size: var(--fs-200);
    --gap: 7px;
    align-items: center;
    text-transform: uppercase;
}

.weather-section {
    border-radius: 20px;
    /* background-color: hsl( var(--clr-green-light) / .4 ); 
    backdrop-filter: blur(15px); */
    padding: 6px 12px;
}

/* @supports not ( backdrop-filter: blur(15px) ) {
    .weather-section {
        -webkit-backdrop-filter: blur(15px);
    }
} */

.weather-footer-section {
    padding: 0px 12px;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    --gap: .5rem;
}

.input-field {
    padding-right: 50px;
    max-width: 552px;
}

.search-input {
    width: 100%;
    height: 35px;

    padding: 0 20px;
    color: hsl( var(--clr-white) / 1 );

    font-size: var(--fs-400);

    border-radius: 100px;
    border: none;

    position: relative;
}

.search-input::after {
    content: '';
    display:inline-block;
    position: absolute;
    background-image: url(./assets/icons/lense.svg);
    width: 100%;
    height: 100%;
}

.search-input::-webkit-input-placeholder { /* Chrome, Safari, Edge */
    color: hsl( var(--clr-white) / .3 );
}

.side-menu {
    list-style: none;

    margin: 0;
    padding: 0;

    max-height: 100vh;

    /* height: minmax(100vh, calc(fit-content + 20px)); */

    overflow-y: scroll;
    overflow-x: hidden;
}

.side-menu > * {
    max-width: 300px;
}

.mp3-player {
    flex-direction: column;
    align-items: center;
    --gap: 20px;

    border-radius: 20px;

    padding: 20px;
    width: 100%;
}

.mp3-player > img {
    width: 100%;
}

.mp3-player > .controls {
    justify-content: center;
    align-items: center;
    width: 100%;
    --gap: 30px;
    padding-inline: 3px;
}

.mp3-player > .controls > .play-btn {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-left: 6px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn > i {
    width: 25px;
}

.volume-container {
    background: rgb(134, 133, 133);
    border-radius: 5px;
    cursor: pointer;
    height: 5px;
    width: 100%;
}

.volume-container > .volume {
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
    width: 20%;
    transition: width 0.1s linear;
    position: relative;
}

.volume-container > .volume::after {
    content: '';
    display: inline-block;
    background-color: #fff;
    aspect-ratio: 1;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    transform: translate(30%, -30%);
}

.theme-chooser-container {
    display: flex;
    
    flex-direction: column;
    align-items: center;

    position: relative;

    height: fit-content;
}

.theme-chooser-container > * {
    width: 100%;
}

.theme-btn {
    flex-direction: row;
    align-items: center;
    
    padding: 20px;
    border-radius: 15px;
    height: 50px;

    cursor: pointer;
}

.theme-btn:hover {
    filter: brightness(90%);
}

.theme-btn:active {
    filter: brightness(80%);
}

.theme-btn > img {
    width: 20px;
    color: white;
}

.theme-menu {
    flex-direction: column;

    border-radius: 15px;
    padding: 20px;
    overflow-y: hidden;

    transition: height 10s ease-in;

    top: 110%;

    height: 0px;
    opacity: 0;

    position: relative;
}

.theme-menu[aria-expanded='true'] {
    height: fit-content;
    opacity: 1;
    top: 0;
}

.theme-menu-close {
    aspect-ratio: 1;
    width: 25px;
    border-radius: 50%;
    background-color: hsl( 167 8.2% 40% );
    border: 0;

    background-image: url(./assets/icons/cross.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;

    display: none;

    cursor: pointer;
    
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%, -25%);
}

.theme-menu-close:hover {
    background-color: hsl( var(--clr-green-lighter) );
}

.theme-menu .theme-option {
    background: transparent;
    
    width: 100%;
    height: 70px;

    box-shadow: 0px 8px 12px -3px rgba(29, 30, 30, .4);

    border-radius: 15px;

    padding: 0;
    margin: 0;
    border: 0;

    position: relative;

    cursor: pointer;
}

.theme-menu .theme-option img {
    width: 100%;
    height: 100%;

    border-radius: 15px;

    object-fit: cover;

    /* opacity: 0; */

    filter: brightness(100%);

    transition: opacity 1 ease;
}

.theme-menu .theme-option:hover:not(.chosen) img {
    filter: brightness(110%);
}

.theme-menu .theme-option:active:not(.chosen) img {
    filter: brightness(100%);
}

.theme-option.chosen::after {
    content: 'CHOSEN';

    color: hsl( var(--clr-white) / .9 );
    font-size: var(--fs-800);
    font-weight: 200;
    letter-spacing: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme-option.chosen img {
    filter: brightness(40%);
}

.mobile-nav-toggle {
    display: none;
    position: absolute;
    z-index: 20000;
    right: 20px;
    top: 1.1rem;

    background: transparent;
    background-image: url(./assets/icons/menu-toggle.svg);
    background-repeat: no-repeat;
    background-size: contain;

    border: none;
    aspect-ratio: 1;
    width: 1.5rem;

    cursor: pointer;
}

@media (max-width: 50rem) {
    .side-menu {
        position: fixed;
        z-index: 9999;
        inset: 0 0 0 30%;
        list-style: none;
        padding: 2rem 2rem;
        padding-top: 4rem;
        flex-direction: column;

        transform: translateX(100%);
        transition: transform 250ms ease-in;
    }

    .mobile-nav-toggle {
        display: block;
    }

    .side-menu[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url(./assets/icons/cross.svg);
    }

    .mobile-nav-toggle:focus {
        outline: 5px solid red;
        outline-offset: 5px;
    }
}















/* weather data */

.weather-data {
    flex-direction: column;
    --gap: 20px;
    
    /* width: fit-content; */
    max-width: fit-content;
    padding: 20px;
    border-radius: 20px;
}

@supports not ( backdrop-filter: blur(8rem) ) {
    .weather-data {
        -webkit-backdrop-filter: blur(5px);
    }
}

.weather-data-header {
    flex-direction: column;
    --gap: 1.5rem;
}

.weather-data-header .location-name {
    text-align: center;
}

.weather-data-header .big-data {
    align-items: center;
    justify-content: space-around;
}



.big-data .time-of-day {
    align-items: baseline;
    --gap: 0px;
}

.weather-data-header .temperatures-range {
    border-top: 1px solid hsl( var(--clr-white) / .3 );
    border-bottom: 1px solid hsl( var(--clr-white) / .3 );

    justify-content: center;
    align-items: center;
    --gap: clamp(20px, 10vw, 80px);

    height: 2.5rem;
    
}

.weather-data-header .temperatures-range p {
    font-weight: 300;
    white-space: nowrap;
}

.weather-data .main {
    flex-direction: column;
    --gap: 20px
}

.hours-wrapper {
    --gap: 3rem;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;

}

.hour {
    flex-direction: column;
    align-items: center;
    --gap: 10px;
}

.hour > img {
    aspect-ratio: 1;
    width: 15px;
}

.ten-days-forecast {
    padding: 0px 12px;
}

.ten-days-forecast > .temperatures {
    flex-direction: column;
    --gap: 0px;
}

.temperature {
    border-top: 1px solid hsl(var(--clr-white) / .2);
    padding: 7px 7px;
    
    justify-content: space-between;
    align-items: center;
}

.temperature > .header {
    --gap: 20px;
}

@media (max-width: 35rem) {
    .temperature > .header {
        flex-direction: column;
        --gap: 0px;
    }

    .temperature .header .day {
        height: 1rem;
    }

    .temperature {
        padding: 0px 7px;
    }
}

.temperature .day {
    width: 91px;
}

.temperature .day-forecast {
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%);
    mask-image: linear-gradient(to right, black 70%, transparent 100%);
}

.temperature .temp-range {
    --gap: 10px;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.temperature .temp-range .line {
    height: 2px;
    flex-grow: .5;
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(153,228,255,1) 0%, rgba(255,180,75,1) 100%);
}




.weather-data .footer {
    justify-content: space-between;
}

.wind-info .wind-speed,
.sunset-info .sunset-value {
    align-items: baseline;
    --gap: 5px;
}

.footer .additional-info {
    white-space: nowrap;
    color: hsl( var(--clr-white) / .6 );
}


/* ------------------- */
/* Layout              */
/* ------------------- */